{% extends "base.twig" %}

{% block content %}
<div class="row" id="task-pool">
  <div class="col-md-4 col-md-offset-4">
  	<div class="well">
  		<p>Task Pool</p>

      <ul id="sortable1" class="connectedSortable">
        {% for item in taskList.others %}
          <li class="ui-state-default"  id="task_{{ item.id }}">{{ item.name }}</li>
        {% endfor %}
      </ul>

  	</div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
  	<div class="panel panel-default">
      <div class="panel-body">

        {# Show tasks of user 2 #}
        <ul id="user2" class="connectedSortable">
          {% for item in taskList.user2 %}
            <li class="ui-state-default" id="task_{{ item.id }}">{{ item.name }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="panel-footer">User <span class="label label-default pull-right">2</span></div>

  	</div>
  </div>
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-body">
        {# Show tasks of user 2 #}
        <ul id="user1" class="connectedSortable">
          {% for item in taskList.user1 %}
            <li class="ui-state-default" id="task_{{ item.id }}">{{ item.name }}</li>
          {% endfor %}
        </ul>
        <!-- <span class="label label-default pull-right">1</span> -->
      </div>
      <div class="panel-footer">User <span class="label label-default pull-right">1</span></div>
    </div>


  </div>
  <div class="col-md-4">
  	<div class="panel panel-default">
      <div class="panel-body">
        {# Show tasks of user 3 #}
        <ul id="user3" class="connectedSortable">
          {% for item in taskList.user3 %}
            <li class="ui-state-default" id="task_{{ item.id }}">{{ item.name }}</li>
          {% endfor %}
        </ul>
        <!-- <span class="label label-default pull-right">3</span> -->
      </div>
      <div class="panel-footer">User <span class="label label-default pull-right">3</span></div>
  	</div>
  </div>
</div>

{% endblock %}